<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
    <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
    <property name="hibernate.connection.url">jdbc:firebirdsql:127.0.0.1/3050:ncore-mvv?lc_ctype=WIN1251</property>
    <property name="hibernate.connection.username">SYSDBA</property>
    <property name="hibernate.connection.password">masterkey</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.connection.pool_size">10</property>
    <mapping class="Database.dbClassesEntity.OspContragentId"/>
    <mapping class="Database.dbClassesEntity.ContragentAction"/>
    <mapping class="Database.dbClassesEntity.Osp"/>
    <mapping class="Database.dbClassesEntity.SysLabelLevel"/>
    <mapping class="Database.dbClassesEntity.SysUsers"/>
    <mapping class="Database.dbClassesEntity.Contragent"/>
    <mapping class="Database.dbClassesEntity.OspContragent"/>
  </session-factory>
</hibernate-configuration>
